/*! modern-normalize | MIT License | https://github.com/sindresorhus/modern-normalize */
/* Document
   ========================================================================== */
/**
 * Use a better box model (opinionated).
 */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/**
 * Use a more readable tab size (opinionated).
 */
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
/* Grouping content
   ========================================================================== */
/* Text-level semantics
   ========================================================================== */
/**
 * Add the correct text decoration in Chrome, Edge, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Remove the inheritance of text transform in Edge and Firefox.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers.
 */
legend {
  padding: 0;
}
/**
 * Add the correct vertical alignment in Chrome and Firefox.
 */
progress {
  vertical-align: baseline;
}
/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Chrome and Safari.
 */
summary {
  display: list-item;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  vertical-align: baseline;
}
html {
  font-size: 58%;
}
body {
  color: rgba(0, 0, 0, 0.86);
  font: 400 16px/1.42 -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
  letter-spacing: 0.05em;
}
a {
  color: rgba(0, 0, 0, 0.98);
  text-decoration: none;
  transition: all 0.3s;
}
a:hover {
  color: #006CFF;
}
body,
div,
a,
p,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
table,
tr,
td {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main {
  max-width: 800px;
  min-height: 100vh;
  margin: 0 auto;
  background: #fff;
}
.main .main-content {
  flex: 1;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 0 24px;
}
.site-header {
  padding: 48px 0;
  text-align: center;
}
.site-header .site-title {
  font-size: 32px;
  font-weight: bold;
}
.site-header .site-description {
  font-size: 16px;
  padding: 24px;
  color: #495057;
  font-weight: lighter;
}
.site-header .menu-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.site-header .menu-container a.menu {
  font-size: 16px;
  padding: 8px 16px;
  flex-shrink: 0;
  font-weight: 600;
}
.site-header .avatar {
  margin-bottom: 24px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.site-header .social-container {
  padding: 16px;
  font-size: 18px;
}
.site-header .social-container a {
  margin: 4px 8px;
  color: #868e96;
}
@media (max-width: 600px) {
  .site-header {
    padding: 24px 0 0;
  }
  .site-header .avatar {
    width: 80px;
    height: 80px;
  }
}
.post-container {
  flex: 1;
}
.post-container .post {
  padding-bottom: 32px;
}
.post-container .post .post-title {
  font-size: 28px;
  text-align: center;
  padding: 24px 0;
  font-weight: 900;
  letter-spacing: 0.02em;
}
.post-container .post .post-info {
  text-align: center;
  font-size: 12px;
  padding-bottom: 24px;
}
.post-container .post .post-info > span {
  color: #5E5E5E;
}
.post-container .post .post-info > span:not(:first-child):before {
  content: "/ ";
  font-size: 10px;
  color: rgba(0, 0, 0, 0.1);
  margin: 0 4px;
}
.post-container .post .post-info .post-tag {
  padding: 8px 8px;
}
.post-container .post .post-feature-image {
  display: block;
  width: 100%;
  padding-top: 32.6%;
  border-radius: 2px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  transition: all 0.3s;
}
.post-container .post .post-feature-image img {
  width: 100%;
}
.post-container .post .post-feature-image:hover {
  transform: scale(1.0082);
}
.post-container .post .post-abstract {
  padding: 24px 0;
  line-height: 1.5;
  font-size: 16px;
}
.post-container .post .post-abstract strong {
  font-weight: bolder;
}
.post-container .post .post-abstract a {
  color: #006CFF;
  transition: all 0.3s;
}
.post-container .post .post-abstract a:hover {
  color: #0061e6;
  border-bottom: 1px dotted #0061e6;
}
.post-container .post .post-abstract code {
  font-family: monospace;
  font-size: inherit;
  background-color: rgba(0, 0, 0, 0.06);
  padding: 0 2px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 2px 2px;
  line-height: initial;
  word-wrap: break-word;
  text-indent: 0;
}
.pagination-container {
  padding: 32px 16px;
  overflow: hidden;
}
.pagination-container .prev-page {
  float: left;
}
.pagination-container .next-page {
  float: right;
}
.pagination-container .prev-page,
.pagination-container .next-page {
  padding: 6px 12px;
  font-weight: bold;
  border-bottom: 2px solid transparent;
}
.pagination-container .prev-page:hover,
.pagination-container .next-page:hover {
  border-bottom: 2px solid;
}
@media (max-width: 600px) {
  .post-container .post {
    padding: 16px 16px;
  }
  .post-container .post .post-title {
    padding: 16px 0;
    font-size: 24px;
  }
  .post-container .post .post-abstract {
    padding: 16px 0;
  }
  .post-container .post .post-feature-image {
    padding-top: 56.25%;
  }
}
.post-detail {
  flex: 1;
}
.post-detail .post {
  padding: 24px 32px;
}
.post-detail .post .post-feature-image {
  width: 100%;
  height: auto;
  margin-bottom: 24px;
  border-radius: 2px;
}
.post-detail .post .post-title {
  font-size: 32px;
  text-align: center;
  padding: 24px 0;
  font-weight: 900;
  letter-spacing: 0.02em;
}
.post-detail .post .post-info {
  text-align: center;
  font-size: 12px;
  padding-bottom: 24px;
}
.post-detail .post .post-info > span {
  color: #5E5E5E;
}
.post-detail .post .post-info > span:not(:first-child):before {
  content: "/ ";
  font-size: 10px;
  color: rgba(0, 0, 0, 0.1);
  margin: 0 4px;
}
.post-detail .post .post-info .post-tag {
  padding: 8px 8px;
}
.post-detail .post .post-content-wrapper {
  display: flex;
}
.post-detail .post .post-content {
  width: 100%;
  flex-shrink: 0;
  font-family: "Droid Serif", "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
}
.post-detail .post .post-content a {
  color: rgba(0, 0, 0, 0.98);
  word-wrap: break-word;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
}
.post-detail .post .post-content a:hover {
  color: #0061e6;
  border-bottom: 1px solid #0061e6;
}
.post-detail .post .post-content img {
  display: block;
  box-shadow: 0 0 30px #eee;
  max-width: 100%;
  border-radius: 2px;
  margin: 24px auto;
}
.post-detail .post .post-content p {
  line-height: 1.62;
  margin-bottom: 1.12em;
  font-size: 16px;
  letter-spacing: 0.05em;
  hyphens: auto;
}
.post-detail .post .post-content p code,
.post-detail .post .post-content li code {
  font-family: 'Source Code Pro', Consolas, Menlo, Monaco, 'Courier New', monospace;
  line-height: initial;
  word-wrap: break-word;
  border-radius: 0;
  background-color: #fff5f5;
  color: #c53030;
  padding: 0.2em 0.33333333em;
  margin-left: 0.125em;
  margin-right: 0.125em;
}
.post-detail .post .post-content pre {
  margin-bottom: 1.5rem;
  padding: 0;
  position: relative;
}
.post-detail .post .post-content pre code {
  font-size: 0.96em;
  font-family: 'Source Code Pro', Consolas, Menlo, Monaco, 'Courier New', monospace;
  padding: 1em;
  border-radius: 5px;
  line-height: 1.5;
}
.post-detail .post .post-content blockquote {
  color: #9a9a9a;
  position: relative;
  padding: 0.4em 0 0 2.2em;
  font-size: 0.96em;
}
.post-detail .post .post-content blockquote:before {
  position: absolute;
  top: -4px;
  left: 0;
  content: "\201c";
  font: 700 62px/1 serif;
  color: rgba(0, 0, 0, 0.1);
}
.post-detail .post .post-content table {
  border-collapse: collapse;
  margin: 1rem 0;
  display: block;
  overflow-x: auto;
}
.post-detail .post .post-content tr {
  border-top: 1px solid #dfe2e5;
}
.post-detail .post .post-content td,
.post-detail .post .post-content th {
  border: 1px solid #dfe2e5;
  padding: 0.6em 1em;
}
.post-detail .post .post-content ul,
.post-detail .post .post-content ol {
  padding-left: 35px;
  line-height: 1.725;
  margin-bottom: 16px;
}
.post-detail .post .post-content ul {
  list-style-type: square;
}
.post-detail .post .post-content h1,
.post-detail .post .post-content h2,
.post-detail .post .post-content h3,
.post-detail .post .post-content h4,
.post-detail .post .post-content h5,
.post-detail .post .post-content h6 {
  margin: 16px 0;
  font-weight: 700;
  padding-top: 16px;
}
.post-detail .post .post-content h1 {
  font-size: 1.8em;
}
.post-detail .post .post-content h2 {
  font-size: 1.42em;
}
.post-detail .post .post-content h3 {
  font-size: 1.17em;
}
.post-detail .post .post-content h4 {
  font-size: 1em;
}
.post-detail .post .post-content h5 {
  font-size: 1em;
}
.post-detail .post .post-content h6 {
  font-size: 1em;
  font-weight: 500;
}
.post-detail .post .post-content hr {
  display: block;
  border: 0;
  margin: 2.24em auto 2.86em;
}
.post-detail .post .post-content hr:before {
  color: rgba(0, 0, 0, 0.2);
  font-size: 1.1em;
  display: block;
  content: "* * *";
  text-align: center;
}
.post-detail .post .post-content mark {
  background: #faf089;
  color: #744210;
  padding: 0.2em;
}
.post-detail .post .post-content .footnotes {
  margin-left: auto;
  margin-right: auto;
  max-width: 760px;
  padding-left: 18px;
  padding-right: 18px;
}
.post-detail .post .post-content .footnotes:before {
  content: "";
  display: block;
  border-top: 4px solid rgba(0, 0, 0, 0.1);
  width: 50%;
  max-width: 100px;
  margin: 40px 0 20px;
}
.post-detail .post .post-content .contains-task-list {
  list-style-type: none;
  padding-left: 30px;
}
.post-detail .post .post-content .task-list-item {
  position: relative;
}
.post-detail .post .post-content .task-list-item-checkbox {
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin: 4px 0 0;
  top: -1px;
  left: -22px;
  transform-origin: center;
  transform: rotate(-90deg);
  transition: all 0.2s ease;
}
.post-detail .post .post-content .task-list-item-checkbox:checked {
  transform: rotate(0);
}
.post-detail .post .post-content .task-list-item-checkbox:checked:before {
  border: transparent;
  background-color: #51cf66;
}
.post-detail .post .post-content .task-list-item-checkbox:checked:after {
  transform: rotate(-45deg) scale(1);
}
.post-detail .post .post-content .task-list-item-checkbox:checked + .task-list-item-label {
  color: #a0a0a0;
  text-decoration: line-through;
}
.post-detail .post .post-content .task-list-item-checkbox:before {
  content: "";
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #9ae6b4;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease;
}
.post-detail .post .post-content .task-list-item-checkbox:after {
  content: "";
  transform: rotate(-45deg) scale(0);
  width: 9px;
  height: 5px;
  border: 1px solid #fff;
  border-top: none;
  border-right: none;
  position: absolute;
  display: inline-block;
  top: 4px;
  left: 4px;
  transition: all 0.2s ease;
}
.next-post {
  text-align: center;
  padding: 24px 32px;
}
.next-post .next {
  margin-bottom: 24px;
  color: #343a40;
  font-weight: lighter;
}
.next-post .post-title {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.02em;
}
#gitalk-container,
#disqus_thread {
  padding: 24px 32px;
}
.toc-container .markdownIt-TOC {
  position: sticky;
  top: 32px;
  width: 200px;
  font-size: 12px;
  list-style: none;
  padding-left: 0;
  padding: 16px 8px;
}
.toc-container .markdownIt-TOC:before {
  content: "";
  position: absolute;
  top: 0;
  left: 8px;
  bottom: 0;
  width: 1px;
  background-color: #ebedef;
  opacity: 0.5;
}
.toc-container ul {
  list-style: none;
}
.toc-container li {
  padding-left: 16px;
}
.toc-container li a {
  color: #868e96;
  padding: 4px;
  display: block;
  transition: all 0.3s;
}
.toc-container li a:hover {
  background: #fafafa;
}
.toc-container li a.current {
  color: #006CFF;
  background: #fafafa;
}
@media (max-width: 600px) {
  .post-detail .post {
    padding: 16px;
  }
  .post-detail .post .post-title {
    font-size: 24px;
    padding: 16px 0;
  }
}
@media (max-width: 1150px) {
  .toc-container {
    display: none;
  }
}
.archives-container {
  padding: 32px;
  flex: 1;
}
.archives-container .year {
  font-size: 1.375rem;
  font-weight: bold;
  margin: 24px 0 16px;
  color: #868e96;
  padding: 0 24px;
}
.archives-container .post {
  padding: 16px 24px;
  display: block;
}
.archives-container .post .post-title {
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.02em;
}
.archives-container .post .time {
  font-size: 0.75rem;
  margin-top: 8px;
  color: #ced4da;
}
@media (max-width: 600px) {
  .archives-container {
    padding: 16px;
  }
}
.tags-container {
  padding: 32px 32px;
  flex: 1;
  text-align: center;
}
.tags-container .tag {
  display: inline-block;
  padding: 8px 16px;
  margin: 8px;
  background: #f8f9fa;
  color: #495057;
  border-radius: 2px;
  font-size: 14px;
}
.tags-container .tag:hover {
  background: #e9ecef;
  color: #212529;
}
.current-tag-container .title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 24px;
}
.about-page {
  padding: 24px 32px;
}
.site-footer {
  font-size: 12px;
  text-align: center;
  padding: 40px 24px;
  color: #868e96;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rss {
  display: inline-flex;
  align-items: center;
  margin-left: 24px;
}
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f9f7f3;
}
.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}
.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}
.hljs-string,
.hljs-doctag {
  color: #d14;
}
.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}
.hljs-subst {
  font-weight: normal;
}
.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}
.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}
.hljs-regexp,
.hljs-link {
  color: #009926;
}
.hljs-symbol,
.hljs-bullet {
  color: #990073;
}
.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}
.hljs-meta {
  color: #999;
  font-weight: bold;
}
.hljs-deletion {
  background: #fdd;
}
.hljs-addition {
  background: #dfd;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}

      .post-container .post .post-title {
        text-align: center;
      }
      .post-container .post .post-info {
        text-align: center;
      }
      .post-detail .post .post-title {
        text-align: center;
      }
      .post-detail .post .post-info {
        text-align: center;
      }
    
      body {
        font-family: -apple-system,BlinkMacSystemFont,'Helvetica Neue','PingFang SC','Hiragino Sans GB','Droid Sans Fallback','Microsoft YaHei',sans-serif;
      }
    
      @charset "utf-8";
@font-face {
    font-family: 'Fira Code Medium';
    src: url('https://static.meowv.com/fonts/FiraCode-Medium.woff2') format('woff2'), url("https://static.meowv.com/fonts/FiraCode-Medium.woff") format("woff"), url('../fonts/FiraCode-Medium.woff') format('woff'), url('../fonts/FiraCode-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal
}

.message {
    max-width: 640px;
    width: auto;
    position: fixed;
    left: 50%;
    bottom: 10px;
    text-align: center;
    z-index: 1000;
}

.message-info {
    background: rgba(17, 17, 17, .9);
    color: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.35);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.35);
    display: inline-block;
    font-size: 14px;
    margin-bottom: 0;
    padding: 12px 25px;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
    border-radius: 5px;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
    border-radius: 5px;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]-moz-focusring,
[type="reset"]-moz-focusring,
[type="submit"]-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

html::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

html::-webkit-scrollbar-thumb {
    height: 40px;
    background-color: #eee;
    border-radius: 16px;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: #ddd;
}

body {
    font-size: 10pt;
    font-weight: normal;
    line-height: 2em;
    background-color: #fff;
    color: #161209;
    transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
}

body:before {
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.05;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

body.dark-theme {
    background-color: #292a2d;
    color: #a9a9b3;
    transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
}

a {
    background-color: transparent;
    color: #161209;
    text-decoration: none;
    transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
    cursor: pointer;
}

a:hover {
    color: #2d96bd;
    text-decoration: none;
    transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
}

.dark-theme a {
    color: #a9a9b3;
    text-decoration: none;
    transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
}

.dark-theme a:hover {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    width: 100%;
}

.navbar {
    height: 4rem;
    line-height: 4rem;
    width: 100%;
}

.navbar .container {
    width: auto;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.main {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

.container {
    padding-left: 1em;
    padding-right: 1em;
}

.footer {
    height: 4rem;
    width: 100%;
    text-align: center;
    line-height: 1.2rem;
    padding-top: 2em;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input[type="checkbox"]:checked+label:after {
    transition: all 0.3s ease-in;
}

input[type="checkbox"]:not(:checked)+label:after {
    transition: all 0.3s ease-out;
}

input[type="checkbox"]:checked+label,
input[type="checkbox"]:not(:checked)+label {
    transition: all 0.3s ease-in-out;
}

input[type="checkbox"]:checked+label:before,
input[type="checkbox"]:checked+label i:before,
input[type="checkbox"]:not(:checked)+label i:before,
input[type="checkbox"]:checked+label i:after,
input[type="checkbox"]:not(:checked)+label i:after,
input[type="checkbox"]:not(:checked)+label:before {
    transition: all 0.3s ease-in-out;
}

input[type="radio"]:checked+label:after,
input[type="radio"]:not(:checked)+label:after {
    transition: all 0.3s ease-in-out;
}

.switch_default[type="checkbox"] {
    display: none;
}

.switch_default+label {
    background-color: #e6e6e6;
    border-radius: 7px;
    cursor: pointer;
    display: inline-block;
    height: 14px;
    position: relative;
    box-shadow: 0.2px 0.2px 1px 0.5px rgb(180, 180, 180);
    width: 30px;
}

.switch_default+label:after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 12px;
    left: 1px;
    position: absolute;
    top: .5px;
    width: 12px;
    box-shadow: 0.2px 0.2px 1px 0.5px rgb(180, 180, 180);
}

.switch_default:checked+label {
    background-color: #1ABC9C;
    box-shadow: none;
}

.switch_default:checked+label:after {
    left: 17px;
}

.header-logo a {
    padding: 0;
}

.navbar .menu a {
    padding: 0 8px;
}

.navbar .menu .active {
    font-weight: 900;
    color: #161209;
}

.dark-theme .navbar .menu .active {
    color: #fff;
}

.navbar-header a:hover,
.navbar .menu a:hover {
    background-color: transparent;
}

header label {
    margin-left: 15px;
    position: relative;
    -webkit-transform: translateY(0.1em) translateX(0.5em);
}

.copyright {
    line-height: 20px;
    font-size: .8rem;
    opacity: .75;
    margin-bottom: 0;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    white-space: nowrap;
    width: 100%;
    padding-top: 2em;
}

.pagination a,
.pagination span {
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    color: #bfbfbf;
    letter-spacing: 0.1em;
    font-weight: 700;
    padding: 5px 5px;
    text-decoration: none;
    transition: 0.3s;
}

.pagination .page-number {
    padding-bottom: 3px;
    margin: 0 20px;
    box-sizing: border-box;
    position: relative;
    display: inline;
}

.pagination .page-number.disabled {
    display: none;
}

.pagination .page-number:hover a {
    color: #000;
}

.dark-theme .pagination .page-number:hover a {
    color: #fff;
}

.pagination .page-number:before,
.pagination .page-number:after {
    position: absolute;
    content: "";
    width: 0;
    height: 1px;
    background: #000;
    transition: 0.3s;
    bottom: 0px;
}

.dark-theme .pagination .page-number:before,
.dark-theme .pagination .page-number:after {
    background: #fff;
}

.pagination .page-number:before .current,
.pagination .page-number:after .current {
    width: 100%;
}

.pagination .page-number:before {
    left: 50%;
}

.pagination .page-number:after {
    right: 50%;
}

.pagination .page-number:hover:before,
.pagination .page-number:hover:after {
    width: 50%;
}

.pagination .page-number.current {
    color: #000;
}

.dark-theme .pagination .page-number.current {
    color: #fff;
}

.pagination .page-number.current:before,
.pagination .page-number.current:after {
    width: 60%;
}

.intro {
    transform: translateY(20vh);
    text-align: center;
}

.intro .avatar {
    padding: 10px;
}

.intro .avatar img {
    width: 128px;
    height: auto;
    display: inline-block;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 0 0.3618em rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 0 0.3618em rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
    cursor: pointer;
}

.intro .avatar img:hover {
    position: relative;
    -webkit-transform: translateY(-0.75em);
    -moz-transform: translateY(-0.75em);
    -ms-transform: translateY(-0.75em);
    -o-transform: translateY(-0.75em);
    transform: translateY(-0.75em);
    cursor: pointer;
}

.nickname {
    font-size: 2em;
    font-weight: normal;
}

.links a {
    padding: 0 5px;
}

.links a:hover {
    background-color: transparent;
}

.links .fa {
    font-size: 2em;
}

.post-wrap {
    position: relative;
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    padding-top: 2rem;
}

.post-wrap .archive-item {
    margin-left: 2rem;
}

.archive-item-link {
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
}

.archive-item-link:hover {
    color: #2d96bd;
    background-color: transparent;
}

.dark-theme .archive-item-link {
    color: #a9a9b3;
    text-decoration: none;
    transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
}

.dark-theme .archive-item-link:hover {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
}

.archive-item-date {
    float: right;
    text-align: right;
    color: #a9a9b3;
}

.dark-theme .archive-item-date {
    color: #87878d;
}

.post-wrap .categories-card {
    margin: 0 auto;
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 2.5em;
    line-height: 1.6em;
}

.post-wrap .categories-card .card-item {
    font-size: 14px;
    text-align: left;
    width: 45%;
    display: flex;
    align-items: flex-start;
    margin-top: 2em;
    min-height: 16em;
    padding: 0 2%;
    position: relative;
}

.post-wrap .categories-card .card-item .categories {
    overflow: hidden;
}

.tag-cloud-tags {
    margin: 10px 0;
    padding-top: 2em;
}

.tag-cloud-tags a {
    display: inline-block;
    position: relative;
    margin: 5px 10px;
    word-wrap: break-word;
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

.tag-cloud-tags a:active,
.tag-cloud-tags a:focus,
.tag-cloud-tags a:hover {
    color: #2d96bd;
    transform: scale(1.1);
}

.dark-theme .tag-cloud-tags a:active,
.dark-theme .tag-cloud-tags a:focus,
.dark-theme .tag-cloud-tags a:hover {
    color: #fff;
}

.tag-cloud-tags a small {
    margin: 0 0.3em;
    color: #a9a9b3;
}

.dark-theme .tag-cloud-tags a small {
    color: #fff;
}

.page {
    padding-top: 0;
}

.page .post-content {
    margin: 0;
    padding-top: 0;
}

.post-wrap p {
    font-size: 1em;
    margin: 1em 0 1em 0;
}

.post-wrap .post-header h1 {
    margin: 0 !important;
}

.post-wrap .post-title {
    font-size: 1.5em;
    line-height: 1em;
}

.post-wrap .post-meta {
    color: rgba(85, 85, 85, 0.529) !important;
}

.dark-theme .post-wrap .post-meta {
    color: #87878d !important;
}

.post-wrap .post-meta a {
    color: #2d96bd;
}

.dark-theme .post-wrap .post-meta a {
    color: #eee;
}

.post-wrap .post-meta a:hover {
    color: #ef3982;
}

.dark-theme .post-wrap .post-meta a:hover {
    color: #fff;
}

.post-content {
    padding-top: 2rem;
    text-align: justify;
}

.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    padding-top: 0.8em;
    padding-bottom: 0.3em;
}

.post-content h1::before {
    content: "";
    margin-right: 5px;
    color: #2d96bd;
}

.dark-theme .post-content h1::before {
    color: #eee;
}

.post-content h2::before {
    content: "";
    margin-right: 5px;
    color: #2d96bd;
}

.dark-theme .post-content h2::before {
    color: #eee;
}

.post-content h3::before {
    content: "";
    margin-right: 5px;
    color: #2d96bd;
}

.dark-theme .post-content h3::before {
    color: #eee;
}

.post-content h4::before {
    content: "";
    margin-right: 5px;
    color: #2d96bd;
}

.dark-theme .post-content h4::before {
    color: #eee;
}

.post-content a {
    color: #2d96bd;
}

.dark-theme .post-content a {
    color: #eee;
}

.post-content a:hover {
    color: #ef3982;
}

.dark-theme .post-content a:hover:hover {
    color: #fff;
    text-decoration: underline;
}

.post-content code,
.post-content pre {
    padding: 7px;
    font-size: 13px;
    font-family: Consolas, Monaco, Menlo, Consolas, monospace;
}

.post-content code {
    padding: 3px 5px;
    border-radius: 4px;
}

.post-content figure.highlight {
    margin: 1em 0;
    overflow-x: auto;
    position: relative;
}

.post-content figure.highlight::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.post-content figure.highlight::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: #eee;
    border-radius: 2px;
}

.post-content figure.highlight table {
    position: relative;
}

.post-content figure.highlight table,
.post-content figure.highlight tr,
.post-content figure.highlight td {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    border-collapse: collapse;
}

.post-content figure.highlight .code pre {
    margin: 0 10px;
}

.post-content figure.highlight .gutter {
    width: 10px;
    color: #d0d0d0;
}

.post-content figure.highlight .gutter pre {
    margin: 0;
}

.post-content ul {
    padding-left: 2em;
}

.post-content table {
    max-width: 100%;
    margin: 10px 0;
    border-spacing: 0;
}

.post-content table thead {
    background: #bce1ef;
}

.dark-theme .post-content table thead {
    background: #626262;
}

.post-content table th,
.post-content table td {
    padding: 5px 15px;
    border: 0.5px solid #e8e8e8;
}

.post-content .image-caption:not(:empty) {
    min-width: 20%;
    max-width: 80%;
    display: inline-block;
    padding: 10px;
    margin: 0 auto;
    border-bottom: 1px solid #d9d9d9;
    font-size: 14px;
    color: #969696;
    line-height: 1.7;
}

.post-content img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

.post-content img[data-action="zoom"] {
    cursor: zoom-in;
}

.post-content blockquote {
    font-size: 1rem;
    display: block;
    margin: 1em 0;
    padding: 1em 1.2em 1em 1.2em;
    position: relative;
    color: rgba(52, 73, 94, 0.8);
    background-color: #e9f5fa;
    border-left: 2px solid #2d96bd;
}

.post-content blockquote p {
    margin: 0;
}

.post-content blockquote footer strong {
    margin-right: 0.5em;
}

.dark-theme .post-content blockquote {
    color: #a9a9b3;
    background-color: #3e3e3e;
    border-left: 2px solid #dcdcdc;
}

.post-content blockquote.pullquote {
    background-color: transparent;
    max-width: 45%;
    border: 0;
}

.post-content blockquote.pullquote.left {
    float: left;
    text-align: left;
}

.post-content blockquote.pullquote.right {
    float: right;
    text-align: right;
}

.post-copyright {
    margin-top: 5rem;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}

.post-copyright a {
    color: #2d96bd;
}

.dark-theme .post-copyright a {
    color: #eee;
}

.post-copyright a:hover {
    color: #ef3982;
}

.dark-theme .post-copyright a:hover {
    color: #fff;
}

.post-copyright .copyright-item {
    margin: 5px 0;
}

.post-copyright .lincese {
    font-weight: bold;
}

.dark-theme .post-copyright {
    border-top: 1px solid #909196;
    border-bottom: 1px solid #909196;
}

.post-content code,
.post-content pre {
    line-height: 1.7em;
    padding: 7px;
    font-size: 13px;
    font-family: Consolas, Monaco, Menlo, Consolas, monospace;
}

.post-content code {
    line-height: 1.7em;
    padding: 3px 5px;
    border-radius: 4px;
    color: #c7254e;
    background: #f8f5ec;
}

.dark-theme .post-content code {
    color: #c7254e;
    background: #f7f7f7;
}

.post-content figure.highlight {
    margin: 1em 0;
    overflow-x: auto;
    position: relative;
}

.post-content figure.highlight::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.post-content figure.highlight::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: #eee;
    border-radius: 2px;
}

.post-content figure.highlight figcaption {
    padding: 0 0.5em;
    text-align: right;
    font-size: 13px;
}

.post-content figure.highlight figcaption span {
    margin: 0 0.5em;
}

.post-content figure.highlight table {
    position: relative;
}

.post-content figure.highlight table,
.post-content figure.highlight tr,
.post-content figure.highlight td {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    border-collapse: collapse;
}

.post-content figure.highlight .code pre {
    margin: 0 10px;
}

.post-content figure.highlight .gutter {
    width: 10px;
    color: #d0d0d0;
}

.post-content figure.highlight .gutter pre {
    margin: 0;
}

.post-tags {
    padding: 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
}

.post-nav:before,
.post-nav:after {
    content: " ";
    display: table;
}

.post-nav a.prev,
.post-nav a.next {
    font-weight: 600;
    font-size: 16px;
    transition-property: transform;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
}

.post-nav a.prev {
    float: left;
}

.post-nav a.prev::before {
    content: "<";
    margin-right: 0.5em;
}

.post-nav a.prev:hover {
    transform: translateX(-4px);
}

.post-nav a.next {
    float: right;
}

.post-nav a.next::after {
    content: ">";
    margin-left: 0.5em;
}

.post-nav a.next:hover {
    transform: translateX(4px);
}

.post-nav a.prev::before,
.post-nav a.next::after {
    font-weight: bold;
}

.tag:not(:last-child) a::after {
    content: " / ";
}

.post-toc {
    position: fixed;
    top: 95px;
    right: 3rem;
    width: 8em;
    font-size: 1.75rem;
}

.post-toc .tocbot-list {
    max-height: 450px;
    max-width: 250px;
    overflow: auto;
    position: relative;
    padding-right: 0.875rem;
}

.post-toc .tocbot-list::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.post-toc .tocbot-list::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: #eee;
    border-radius: 2px;
}

.post-toc .tocbot-list ul {
    list-style: none;
    position: inherit;
    overflow: hidden;
}

.post-toc .tocbot-list ul li {
    margin-left: 0.25rem;
}

.post-toc .toc-link::before {
    background-color: #fff;
}

.post-toc .is-active-link::before {
    background-color: #2d96bd;
}

.post-toc .tocbot-list-menu {
    margin: 1rem 0.75rem;
    font-size: 0.75rem;
}

.post-toc .tocbot-list-menu a {
    display: block;
    margin: 0.375rem 0;
    color: #999;
    cursor: pointer;
}

.post-toc .tocbot-list-menu a:hover {
    color: #808080;
}

.toc {
    overflow-y: auto
}

.toc>.toc-list {
    overflow: hidden;
    position: relative
}

.toc>.toc-list li {
    list-style: none
}

.toc-list {
    margin: 0;
    padding-left: 10px
}

a.toc-link {
    color: currentColor;
    height: 100%
}

.is-collapsible {
    max-height: 1000px;
    overflow: hidden;
    transition: all 300ms ease-in-out
}

.is-collapsed {
    max-height: 0
}

.is-position-fixed {
    position: fixed !important;
    top: 0
}

.is-active-link {
    font-weight: 700
}

.toc-link::before {
    background-color: #EEE;
    content: ' ';
    display: inline-block;
    height: inherit;
    left: 0;
    margin-top: -1px;
    position: absolute;
    width: 2px
}

.is-active-link::before {
    background-color: #54BC4B
}

@media screen and (max-width: 479px) {
    .post-main {
        padding-top: 40pt;
    }
    .main {
        padding-top: 40pt;
    }
    .navbar {
        display: none;
    }
    .navbar-mobile {
        display: block !important;
        position: fixed;
        width: 100%;
        z-index: 100;
        transition: all 0.6s ease 0s;
    }
    .navbar-mobile .container {
        padding: 0;
        margin: 0;
        line-height: 5.5em;
        background: #fff;
    }
    .navbar-mobile .container .navbar-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-right: 1em;
        padding-left: 1em;
        box-sizing: border-box;
        position: relative;
    }
    .navbar-mobile .container .navbar-header .search-input {
        cursor: pointer;
        width: 100px;
    }
    .navbar-mobile .container .navbar-header .menu-toggle {
        cursor: pointer;
        line-height: 5.5em;
        padding: auto 2em;
    }
    .navbar-mobile .container .navbar-header .menu-toggle span {
        display: block;
        background: #000;
        width: 36px;
        height: 2px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: 0.25s margin 0.25s, 0.25s transform;
        -moz-transition: 0.25s margin 0.25s, 0.25s transform;
        transition: 0.25s margin 0.25s, 0.25s transform;
    }
    .dark-theme .navbar-mobile .container .navbar-header .menu-toggle span {
        background: #a9a9b3;
    }
    .navbar-mobile .container .navbar-header .menu-toggle span:nth-child(1) {
        margin-bottom: 8px;
    }
    .navbar-mobile .container .navbar-header .menu-toggle span:nth-child(3) {
        margin-top: 8px;
    }
    .navbar-mobile .container .navbar-header .menu-toggle.active span {
        -webkit-transition: 0.25s margin, 0.25s transform 0.25s;
        -moz-transition: 0.25s margin, 0.25s transform 0.25s;
        transition: 0.25s margin, 0.25s transform 0.25s;
    }
    .navbar-mobile .container .navbar-header .menu-toggle.active span:nth-child(1) {
        -moz-transform: rotate(45deg) translate(4px, 6px);
        -ms-transform: rotate(45deg) translate(4px, 6px);
        -webkit-transform: rotate(45deg) translate(4px, 6px);
        transform: rotate(45deg) translate(4px, 6px);
    }
    .navbar-mobile .container .navbar-header .menu-toggle.active span:nth-child(2) {
        opacity: 0;
    }
    .navbar-mobile .container .navbar-header .menu-toggle.active span:nth-child(3) {
        -moz-transform: rotate(-45deg) translate(8px, -10px);
        -ms-transform: rotate(-45deg) translate(8px, -10px);
        -webkit-transform: rotate(-45deg) translate(8px, -10px);
        transform: rotate(-45deg) translate(8px, -10px);
    }
    .navbar-mobile .container .menu {
        text-align: center;
        background: #fff;
        border-top: 1px solid #000;
        padding-top: 1em;
        padding-bottom: 1em;
        display: none;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.1);
    }
    .navbar-mobile .container .menu a {
        display: inline-block;
        margin: 0 1em;
        line-height: 2.5em;
    }
    .navbar-mobile .container .menu.active {
        display: block;
        white-space: nowrap;
        box-sizing: border-box;
        overflow-x: auto;
    }
    .dark-theme .navbar-mobile .container .menu {
        background: #292a2d;
        border-top: 2px solid #87878d;
    }
    .dark-theme .navbar-mobile .container {
        background: #292a2d !important;
    }
    .archive {
        width: 90%;
    }
    .archive .archive-item .archive-item-date {
        display: none;
    }
    #dynamic-to-top {
        display: none !important;
    }
    .footer {
        height: 3rem;
        width: 100%;
        text-align: center;
        line-height: 1.5rem;
        padding-top: 2em;
    }
    .post-warp {
        padding-top: 6em;
    }
    .post-warp .archive-item-date {
        display: none;
    }
    .categories .categories-card .card-item {
        width: 100%;
        display: flex;
        min-height: 0;
    }
    .categories .categories-card .card-item .categories {
        overflow: hidden;
    }
}

@media screen and (max-width: 1023px) {
    .navbar-mobile {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .navbar-mobile {
        display: none;
    }
}

@media screen and (max-width: 1279px) {
    .post-toc {
        display: none;
    }
}

.post-content figure.highlight {
    margin: 2em 0;
    background: #f7f7f7;
    color: #4d4d4c;
    font-size: 12px;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: auto;
}

.post-content figure.highlight .gutter {
    color: hight-gutter;
}

.post-content figure.highlight pre {
    background: #f7f7f7;
    margin: 0;
}

.post-content code {
    padding: 2px 4px;
    background: #f7f7f7;
    font-family: Menlo, Monaco, Consolas, Courier New, monospace;
    font-size: 12px;
}

.post-content pre {
    padding: 10px;
    overflow: auto;
    background: #f7f7f7;
    font-family: Menlo, Monaco, Consolas, Courier New, monospace;
}

.post-content pre code {
    padding: 0;
}

.post-content pre .deletion {
    background: #fdd;
}

.post-content pre .addition {
    background: #dfd;
}

.post-content pre .meta {
    color: #8959a8;
}

.post-content pre .comment {
    color: #8e908c;
}

.post-content pre .variable,
.post-content pre .attribute,
.post-content pre .tag,
.post-content pre .regexp,
.post-content pre .ruby .constant,
.post-content pre .xml .tag .title,
.post-content pre .xml .pi,
.post-content pre .xml .doctype,
.post-content pre .html .doctype,
.post-content pre .css .id,
.post-content pre .css .class,
.post-content pre .css .pseudo {
    color: #c82829;
}

.post-content pre .number,
.post-content pre .preprocessor,
.post-content pre .built_in,
.post-content pre .literal,
.post-content pre .params,
.post-content pre .constant,
.post-content pre .command {
    color: #f5871f;
}

.post-content pre .ruby .class .title,
.post-content pre .css .rules .attribute,
.post-content pre .string,
.post-content pre .value,
.post-content pre .inheritance,
.post-content pre .header,
.post-content pre .ruby .symbol,
.post-content pre .xml .cdata,
.post-content pre .special,
.post-content pre .number,
.post-content pre .formula {
    color: #718c00;
}

.post-content pre .title,
.post-content pre .css .hexcolor {
    color: #3e999f;
}

.post-content pre .function,
.post-content pre .python .decorator,
.post-content pre .python .title,
.post-content pre .ruby .function .title,
.post-content pre .ruby .title .keyword,
.post-content pre .perl .sub,
.post-content pre .javascript .title,
.post-content pre .coffeescript .title {
    color: #4271ae;
}

.post-content pre .keyword,
.post-content pre .javascript .function {
    color: #8959a8;
}
    